$primary: #7700cc;
$light: #ffffff;

@import "../node_modules/bootstrap/scss/bootstrap";

.logo {
    width: 200px;
    @include media-breakpoint-up(md) {
        width: 300px;
    }
}

.overlay {
    opacity: 0;
    transition: opacity .3s;
    .instalink:hover & {
        @include media-breakpoint-up(lg) {
            opacity: 1;
            transition: opacity .3s;
        }
    }
}

.moduletable p {
    margin-bottom: 0;
}

.header {
    color: $primary;
    .navbar-brand {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}

.footer {
    color: $light;
    .navbar-brand {
        color: $light;
        &:hover {
            color: $light;
        }
    }
    .nav-link {
        color: $light;
        &:hover {
            color: $light;
        }
    }
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.com-content-article__body {
    max-width: 700px;
}

.item-image {
    margin-bottom: 0;
    img {
        width: 100%;
        height: auto;
    }
}

.article-info {
    color: $light !important;
    a {
        color: $light !important;
    }
}