$primary: #7700cc;
$light: #ffffff;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    padding-bottom: 64px;
    @include media-breakpoint-up(md) {
        padding-bottom: 0;
    }
}

main a {
    color: $light !important;
}

.logo {
    width: 200px;
    @include media-breakpoint-up(md) {
        width: 300px;
    }
}

.overlay {
    opacity: 0;
    transition: opacity .3s;
    .instalink:hover & {
        @include media-breakpoint-up(lg) {
            opacity: 1;
            transition: opacity .3s;
        }
    }
}

.moduletable p {
    margin-bottom: 0;
}

.header {
    color: $primary;
    .navbar-brand {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}

.footer {
    color: $light;
    .navbar-brand {
        color: $light;
        &:hover {
            color: $light;
        }
    }
    .nav-link {
        color: $light;
        &:hover {
            color: $light;
        }
    }
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.com-content {
    &-article__body {
        max-width: 700px;
    }
    &-category-blog {
        max-width: 1000px;
    }
}

.wiki .com-content-article__body p:first-of-type {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 3rem;
    }
}

.dropdown {
    &-menu {
        min-width: 0;
    }
    &-item {
        padding: .5rem 1rem;
        color: $primary;
    }
}

.accordion {
    width: 270px;
    ul {
        list-style-type: none;
    }
}

.com-contact {
    max-width: 500px;
}

.form-floating > textarea.form-control {
    height: initial;
}

.ratio figure img {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
}

.instafeed-item {
    display: none;
    &:nth-child(-n+4) {
        display: block;
        @include media-breakpoint-up(md) {
            display: none;
        }
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
    &:nth-child(-n+3) {
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}

.com-users-login {
    max-width: 500px;
}