$primary: #7700cc;
$light: #ffffff;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

.logo {
    width: 200px;
    @include media-breakpoint-up(md) {
        width: 300px;
    }
}

.overlay {
    opacity: 0;
    transition: opacity .3s;
    .instalink:hover & {
        @include media-breakpoint-up(lg) {
            opacity: 1;
            transition: opacity .3s;
        }
    }
}